@{
    ViewData["Title"] = "Управление пользователями";
    ViewData["ShowHeader"] = true;
}

<div class="container">
    <h1>Управление пользователями</h1>
    <!-- Секция для удаления пользователя -->
    <div class="card">
        <div class="card-header">
            Удаление пользователя
        </div>
        <div class="card-body">
            <form method="post" action="DeleteUser">
                <div class="form-group">
                    <label for="userSelect">Выберите пользователя для удаления</label>
                    <select class="form-control" id="userSelect" name="id">
                        @foreach(var userModel in ViewBag.UserModels)
                        {
                            <option value="@userModel.Id">@($"{userModel.Name} {userModel.Surname} {userModel.Patronymic}")</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-danger" style="text-align: right; margin-top: 20px">Удалить пользователя</button>
            </form>
        </div>
    </div>

    <div class="alert alert-success" id="successMessage" style="display:none;">
        Пользователь был успешно удалён!
    </div>

    <div class="alert alert-danger" id="errorMessage" style="display:none;">
        Произошла ошибка при удалении пользователя!
    </div>

    <div class="card">
        <div class="card-header">
            Назначение роли пользователю
        </div>
        <div class="card-body">
            <form method="post" action="SetRole">
                <div class="form-group">
                    <label for="roleUserSelect">Выберите пользователя</label>
                    <select class="form-control" id="roleUserSelect" name="id">
                        @foreach (var userModel in ViewBag.UserModels)
                        {
                            <option value="@userModel.Id">@($"{userModel.Name} {userModel.Surname} {userModel.Patronymic}")</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="roleSelect">Выберите роль</label>
                    <select class="form-control" id="roleSelect" name="roleName">
                        @foreach (var roleModel in ViewBag.Roles)
                        {
                            <option value="@roleModel.Name">@roleModel.Name</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" style="text-align: right; margin-top: 20px">Назначить роль</button>
            </form>
        </div>
    </div>

    <div class="alert alert-success" id="roleSuccessMessage" style="display:none;">
        Роль была успешно назначена!
    </div>
    <div class="alert alert-danger" id="roleErrorMessage" style="display:none;">
        Произошла ошибка при назначении роли!
    </div>

    <div class="card">
        <div class="card-header">
            Создание нового пользователя
        </div>
        <div class="card-body">
            <form id="createUserForm" method="post" action="CreateUserStatement">
                <div class="form-group">
                    <label for="firstName">Имя</label>
                    <input type="text" class="form-control" id="firstName" name="name" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name="surname" required>
                </div>
                <div class="form-group">
                    <label for="middleName">Отчество</label>
                    <input type="text" class="form-control" id="middleName" name="patronymic" required>
                </div>
                <div class="form-group">
                    <label for="email">Почта</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <span class="text-danger" id="passwordError"></span>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Подтверждение пароля</label>
                    <input type="password" class="form-control" id="confirmPassword" required>
                    <span class="text-danger" id="confirmPasswordError"></span>
                </div>
                <button type="submit" class="btn btn-primary" style="text-align: right; margin-top: 20px">Создать пользователя</button>
            </form>
        </div>
    </div>

    <div class="alert alert-success" id="successMessage" style="display:none;">
        Операция выполнена успешно!
    </div>
    <div class="alert alert-danger" id="errorMessage" style="display:none;">
        Произошла ошибка!
    </div>

    <script>
        document.getElementById("createUserForm").addEventListener("submit", function (event) {
            const password = document.getElementById("password").value;
            const confirmPassword = document.getElementById("confirmPassword").value;

            document.getElementById("passwordError").textContent = "";
            document.getElementById("confirmPasswordError").textContent = "";

            if (password !== confirmPassword) {
                event.preventDefault(); // предотвращаем отправку формы
                document.getElementById("confirmPasswordError").textContent = "Пароли не совпадают.";
            }
        });
    </script>

</div>